
@import "reset.scss";

html {
  padding: 50px 200px;
}

h2 {
  border-bottom: 1px solid #446622;
  max-width: 300px;
  font-size: 18px;
}

h3 {
  padding-left: 12px;
  border-left: 3px solid #ff3456;
}